/**
 * @author WMXPY
 * @namespace Style_Page
 * @description Form
 */

@import '../common/color.sass'

.margin-override
    margin-left: 0 !important
    margin-right: 0 !important

.border-override
    transition: 0.5s all !important
    margin: 0 !important
    background-color: rgba(255, 255, 255, 0.97) !important

    @media screen and (max-width: 30rem)
        background-color: rgba(255, 255, 255, 0.8) !important
        margin: 0.5rem !important
        box-shadow: none !important
        border-width: 0 !important

.language
    font-size: 0.9rem
    cursor: pointer
    border: 0
    appearance: none
    -moz-appearance: none
    -webkit-appearance: none
    background-color: inherit
    &:focus
        outline: 0

.select-override
    user-select: none
    -webkit-user-select: none
    -moz-user-select: none

.title
    margin-top: 0.5rem
    margin-bottom: 0.5rem
    border-left: 0.5rem solid $navy
    text-align: left
    padding-left: 0.4rem
    padding-top: 0.1rem
    padding-bottom: 0.1rem

    .upper
        font-size: 1rem
        margin-bottom: 0.1rem
        color: $darkGray
    .lower
        font-weight: bold
        font-size: 2rem

.help
    margin-top: 0.5rem
    font-size: 0.9rem
    text-align: left

.link
    text-decoration: none
    color: $darkGray
.link:hover
    text-decoration: underline
