/**
 * @author WMXPY
 * @namespace Style_Page
 * @description Login
 */

@import '../common/color.sass'

.login
    max-width: 40rem
    margin: auto
    text-align: center

.logo-image
    width: 10rem
    height: 10rem