/**
 * @author WMXPY
 * @namespace Style_Page
 * @description Login
 */

@import '../common/color.sass'

.page
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    overflow: hidden

.wrapper
    width: 100%
    display: flex
    flex: 1

.inner
    width: 100%
    display: flex
    text-align: center
    align-items: center
    justify-content: center

.login
    flex: 1
    max-width: 40rem
    min-width: 20rem

.logo-image
    width: 100%
    height: 10rem

    background-size: cover
    background-repeat: no-repeat
    background-position: center

.privacy
    width: 100%
    text-align: right
    font-size: 0.9rem

.privacy-text
    padding-bottom: 0.5rem
    padding-top: 0.5rem
    padding-right: 5%
    background-color: rgba(255, 255, 255, 0.97)

    @media screen and (max-width: 30rem)
        background-color: rgba(255, 255, 255, 0.8)
