/**
 * @author WMXPY
 * @namespace Style_Page
 * @description Login
 */

@import '../common/color.sass'

.page
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    overflow: hidden

.wrapper
    width: 100%
    display: flex
    flex: 1

.inner
    width: 100%
    display: flex
    text-align: center
    align-items: center
    justify-content: center

.login
    flex: 1
    max-width: 40rem
    min-width: 20rem
    overflow: hidden

.indicator
    min-height: 10rem

.logo-image
    width: 100%
    height: 10rem

    background-size: cover
    background-repeat: no-repeat
    background-position: center

.footer
    font-size: 0.9rem
    padding-bottom: 0.5rem
    padding-top: 0.5rem
    padding-left: 1rem
    padding-right: 1rem
    background-color: rgba(255, 255, 255, 0.97)
    
    transition: 0.5s all
    display: flex
    flex-direction: row

    @media screen and (max-width: 30rem)
        background-color: rgba(255, 255, 255, 0.8)

.language-text
    flex: 1
    align-self: flex-start

.privacy-text
    flex: 1
    text-align: right
    align-self: flex-end
